/* CSS RESET */

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	width: auto;
	font: 13px/22px Helvetica, Arial, sans-serif;
    background: url(../image/background.jpg) no-repeat;
    background-size: cover;
}

nav {
    background: #146b4a;
    display: block;
    height: 3em;
    text-align: center;
    color: white;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    color: #f6d078;
    border-bottom: 0.25em solid #1d8c0e;
}

nav ul {
    display: block;
}

nav ul li {
    display: inline;
    margin: 0em 0.188em 0em 0.188em;
}

h1 {
	font-size: 3em;
	line-height: 3.2em;
	text-align:center;
}

div {
    color: black;
}

.container {
    min-width: 85%;
    background: rgba(255,255,255,.7);
    display:flex;
    align-items: center;
    border:2px solid #1d8c0e;

    position: relative;
    top: 10%;
}

#centerBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bar {
    background: #1c7430;
    color: white;
    text-align: center;
    font-size: x-large;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;

}


body,html {
    height: 100%;
}

#money {
    list-style: none;
}

#Overview {
    background: #1c7430;
}

#OverviewText {
    color: white;
}

.scroll {
    overflow: scroll;
}

h5 {
    color: white;
}


.pre-scrollable {
    border:3px solid #005cbf;
}

.order {
    padding: 15px 0px 15px 0;
}