<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Title-->
    <title>Sonstiges</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
    <!-- summernote CSS
		============================================ -->
    <link rel="stylesheet" href="css/summernote/summernote.css">

</head>

<body>
<!--Navigation-->
<nav th:include="navigation_new :: navigation"></nav>

<div class="summernote-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="inline-form-wrap">
                    <div class="row">
                        <form class="from-group" method="post" th:action="@{/setProfitMargin}">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <h3>Gewinnpozentsatz: </h3>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12" align="rigth">
                                <div class="input-group">
                                    <input class="form-control span2" type="number" min="0" max="100" step="0.01"
                                           name="profitMargin"
                                           pattern="(0\.((0[1-9]{1})|([1-9]{1}([0-9]{1})?)))|(([1-9]+[0-9]*)(\.([0-9]{1,2}))?)"
                                           placeholder="Gewinnprozentsatz eingeben">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" align="rigth">
                                <button type="submit" class="btn btn-success notika-btn-success waves-effect">Absenden
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <script>
                function getMessage() {
                    var message = document.getElementById("EmailMessage").value;
                    document.getElementById("message").value = message;
                }
            </script>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="form-group" method="post" th:action="@{/sendEmail}">
                    <div class="summernote-wrap">
                        <div class="cmp-tb-hd">
                            <h2>Newsletter Nachricht schreiben</h2>
                        </div>
                        <input class="form-control" name="subject" placeholder="Betreff">
                        <div class="form-group">
                            <textarea class="form-control" id="EmailMessage" rows="3" onkeydown="getMessage()" placeholder="Hier Text eingeben ..."></textarea>
                        </div>
                        <input type="hidden" class="form-control" id="message" name="message">
                        <button type="submit" class="btn btn-success">Nachricht abschicken</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

<!-- Validator.js -->
<script src="/js/validator.js"></script>
<!--  summernote JS
     ============================================ -->
<script src="js/summernote/summernote-updated.min.js"></script>
<script src="js/summernote/summernote-active.js"></script>


</body>
</html>