<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
     <title>Merkzettel</title>
</head>
<body>

    <nav th:include="navigation :: navigation"></nav>

    <div th:unless="${cart.empty}">
        <table class="table">
            <thead> <!-- table head -->

            <tr>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Preis</th>
                <th scope="col">Menge</th>
                <th scope="col">Editieren</th>
            </tr>

            </thead>

            <tbody> <!-- table body -->

            <tr th:each="item : ${cart} ">
                <td scope="row" th:text="${item.productName}">ProductName</td>
                <td th:text="${item.id}">1</td>
                <td th:text="${item.price}">1</td>
                <td th:text="${item.amount}">1</td>
                <td>Löschen</td>
            </tr>

            </tbody>
        </table>
    </div>
</body>
</html>