<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Merkzettel</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
</head>
<body>

    <nav th:include="navigation :: navigation"></nav>

    <div class="container">
        <div class="container-fluid">

            <header>
                <h1>Warenkorb</h1>
            </header>


            <div th:if="${shoppingCart.isEmpty()}"> <!-- Handling for empty cart -->
                <div class="header" align="center">
                    Ihr Warenkorb ist leer
                </div>
            </div>

            <div th:unless="${shoppingCart.isEmpty()}"> <!-- Handling for non empty cart -->
                <table class="table">
                    <thead> <!-- table head -->

                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Code</th>
                        <th scope="col">Preis</th>
                        <th scope="col">Menge</th>
                        <th scope="col">Editieren</th>
                    </tr>

                    </thead>

                    <tbody> <!-- table body -->

                    <tr th:each="item : ${shoppingCart} ">
                        <td scope="row" th:text="${item.getName()}">ProductName</td>
                        <td th:text="${item.getId()}">1</td>
                        <td th:text="${item.getPrice()}">1</td>
                        <td th:text="${item.getQuantity()}">1</td>
                        <td>
                            <div class="form-group">
                                <form class="form-group" method="post" th:action="@{/delete}">
                                    <input type="hidden" name="productId" th:value="${item.getId()}">
                                    <button type="submit" class="btn btn-danger"></button>
                                </form>
                                <form class="form-group" method="post" th:action="@{/sub}">
                                    <input type="hidden" name="productId" th:value="${item.product.id}">
                                    <button type="submit" class="btn btn-danger"></button>
                                </form>
                                <form class="form-group" method="post" th:action="@{/add}">
                                    <input type="hidden" name="productId" th:value="${item.product.id}">
                                    <button type="submit" class="btn btn-success"></button>
                                </form>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Name</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>Edit</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>Edit</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>Edit</td>
                    </tr>

                    </tbody>
                </table>


                <div class="col"> <!-- Sum of CartItems -->
                    <div class="align-content-center">
                        <div class="label" align="center">Summe: </div>
                        <div class="value" align="center"><span th:text="${{shoppingCart.getPrice()}}">1337</span></div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="webjars/jquery/3.3.1/jquery.js"></script>
    <script src="webjars/bootstrap/4.1.3/js/bootstrap.bundle.js"></script>
</body>
</html>