<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
     <title>Merkzettel</title>
</head>
<body>

    <nav th:include="navigation :: navigation"></nav>

    <div class="container">
        <div class="container-fluid">

            <header>
                <h1>Warenkorb</h1>
            </header>


            <div th:if="${cart.empty}"> <!-- Handling for empty cart -->
                <div class="header" align="center">
                    Ihr Warenkorb ist leer
                </div>
            </div>

            <div th:unless="${cart.empty}"> <!-- Handling for non empty cart -->
                <table class="table">
                    <thead> <!-- table head -->

                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Code</th>
                        <th scope="col">Preis</th>
                        <th scope="col">Menge</th>
                        <th scope="col">Editieren</th>
                    </tr>

                    </thead>

                    <tbody> <!-- table body -->

                    <tr th:each="item : ${cart} ">
                        <td scope="row" th:text="${item.productName}">ProductName</td>
                        <td th:text="${item.id}">1</td>
                        <td th:text="${item.price}">1</td>
                        <td th:text="${item.amount}">1</td>
                        <td>
                            <div class="form-group">
                                <form class="form-group" method="post" th:action="@{/delete}">
                                    <input type="hidden" name="productId" th:value="${item.id}">
                                    <button type="submit" class="btn btn-danger"></button>
                                </form>
                                <form class="form-group" method="post" th:action="@{/sub}">
                                    <input type="hidden" name="productId" th:value="${item.product.id}">
                                    <button type="submit" class="btn btn-danger"></button>
                                </form>
                                <form class="form-group" method="post" th:action="@{/add}">
                                    <input type="hidden" name="productId" th:value="${item.product.id}">
                                    <button type="submit" class="btn btn-success"></button>
                                </form>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Name</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>Edit</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>Edit</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>Edit</td>
                    </tr>

                    </tbody>
                </table>


                <div class="col"> <!-- Sum of CartItems -->
                    <div class="align-content-center">
                        <div class="label" align="center">Summe: </div>
                        <div class="value" align="center"><span th:text="${{cart.price}}">1337</span></div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>
</html>