<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>Kasse</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.css">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>

        <nav th:include="navigation :: navigation"></nav>


        <div class="container" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" >

                        <form class="form-group" method="post" th:action="@{/cashiersystem}"> <!-- Sends pid and amount -->

                            <div class="form-group"> <!-- form for product code -->
                                <div class="alert alert-danger alert-dismissible" role="alert" th:if="${errorPid}" id="pidError">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Achtung!</strong> <a th:text="${errorMsgPid}"></a>
                                </div>

                                <label for="pidInput">Produkt-Code</label>
                                <input type="text" class="form-control" id="pidInput" name="pid" placeholder="Produkt-Code eingeben">
                            </div>

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-6" >

                                        <script> // functions for numpad pid
                                            var pidInput = "";
                                            function pidUpdate(char) {
                                                pidInput = pidInput + char;
                                                document.getElementById('pidInput').value=pidInput;
                                            }
                                            function pidRemoveOne() {
                                                pidInput = pidInput.substring(0, pidInput.length-1)
                                                document.getElementById('pidInput').value=pidInput;
                                            }
                                            function pidRemove() {
                                                pidInput = "";
                                                document.getElementById('pidInput').value=pidInput;
                                            }
                                        </script>

                                        <div class="btn-group-vertical"> <!-- numpad pid -->
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-lg" onclick="pidUpdate('7')">7</button>
                                                <button type="button" class="btn btn-lg" onclick="pidUpdate('8')">8</button>
                                                <button type="button" class="btn btn-lg" onclick="pidUpdate('9')">9</button>
                                                <button type="button" class="btn btn-lg" onclick="pidRemoveOne()">←</button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-lg" onclick="pidUpdate('4')">4</button>
                                                <button type="button" class="btn btn-lg" onclick="pidUpdate('5')">5</button>
                                                <button type="button" class="btn btn-lg" onclick="pidUpdate('6')">6</button>
                                                <button type="button" class="btn btn-lg" onclick="pidRemove()">C</button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-lg" onclick="pidUpdate('1')">1</button>
                                                <button type="button" class="btn btn-lg" onclick="pidUpdate('2')">2</button>
                                                <button type="button" class="btn btn-lg" onclick="pidUpdate('3')">3</button>
                                                <button type="submit" class="btn btn-lg">✓</button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-lg"></button>
                                                <button type="button" class="btn btn-lg" onclick="pidUpdate('0')">0</button>
                                                <button type="button" class="btn btn-lg"></button>
                                                <button type="button" class="btn btn-lg"></button>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-lg-6" >
                                        <div class="form-group">
                                            <label for="amountInput">Menge</label> <!-- form for amount -->
                                            <script> // functions for amount
                                                var amountInput = 1;
                                                function add(amount) {
                                                    amountInput += amount;
                                                    if (amountInput == 0) {
                                                        amountInput = 1;
                                                    }
                                                    document.getElementById('amountInput').value=amountInput;
                                                }
                                            </script>

                                            <input type="text" class="form-control" id="amountInput" name="amount" placeholder="Menge eingeben" value="1">
                                            <div align="right">
                                                <div class="btn-group">
                                                <button type="button" class="btn btn-lg btn-danger" onclick="add(-1)">-1</button> <!-- substract one from amount -->
                                                <button type="button" class="btn btn-lg btn-success" onclick="add(1)">+1</button> <!-- add one to amount -->
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </form>

                        <div class="pre-scrollable">

                            <div th:if="${shoppingCart.isEmpty()}"> <!-- Handling for empty cart -->
                                <div class="header" align="center">
                                    Ihr Warenkorb ist leer
                                </div>
                            </div>

                            <div th:unless="${shoppingCart.isEmpty()}"> <!-- Handling for non empty cart -->
                                <table class="table">
                                    <thead> <!-- table head -->

                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Preis</th>
                                        <th scope="col">Menge</th>
                                        <th scope="col">Editieren</th>
                                    </tr>

                                    </thead>

                                    <tbody> <!-- table body -->

                                    <tr th:each="item : ${shoppingCart.getItems()} ">
                                        <td scope="row" th:text="${item.getProductName()}">ProductName</td>
                                        <td th:text="${item.getId()}">1</td>
                                        <td th:text="${item.getPrice()}">1</td>
                                        <td th:text="${item.getQuantity()}">1</td>
                                        <td>
                                            <div class="form-group">
                                                <form class="form-group" method="post" th:action="@{/delete}">
                                                    <!--<input type="hidden" name="productId" th:value="${item.getId()}">-->
                                                    <button type="submit" class="btn btn-danger"></button>
                                                </form>
                                                <form class="form-group" method="post" th:action="@{/sub}">
                                                    <!--<input type="hidden" name="productId" th:value="${item.product.id}">-->
                                                    <button type="submit" class="btn btn-danger"></button>
                                                </form>
                                                <form class="form-group" method="post" th:action="@{/add}">
                                                    <!--<input type="hidden" name="productId" th:value="${item.product.id}">-->
                                                    <button type="submit" class="btn btn-success"></button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Name</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>Edit</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>Edit</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>Edit</td>
                                    </tr>

                                    </tbody>
                                </table>


                                <div class="col"> <!-- Sum of CartItems -->
                                    <div class="align-content-center">
                                        <div class="label" align="center">Summe: </div>
                                        <div class="value" align="center"><span th:text="${{shoppingCart.getPrice()}}">1337</span></div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>


                    <div class="col-lg-6">

                        <h2>Übersicht</h2>


                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6" >

                                    <form class="form-group" method="post" th:action="@{/cashiersystemUser}">
                                        <div class="form-group">
                                            <label for="userId">Kunden ID</label>
                                            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${errorUid}">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <strong>Achtung!</strong> <a th:text="${errorMsgUid}"></a>
                                            </div>
                                            <input type="text" class="form-control" id="userId" name="userId" placeholder="Kunden ID eingeben">
                                        </div>

                                        <script> // functions for numpad userId
                                        var userIdInput = "";
                                        function userIdUpdate(char) {
                                            userIdInput = userIdInput + char;
                                            document.getElementById('userId').value=userIdInput;
                                        }
                                        function userIdRemoveOne() {
                                            userIdInput = userIdInput.substring(0, userIdInput.length-1)
                                            document.getElementById('userId').value=userIdInput;
                                        }
                                        function userIdRemove() {
                                            userIdInput = "";
                                            document.getElementById('userId').value=userIdInput;
                                        }
                                        </script>

                                        <div class="btn-group-vertical"> <!-- numpad userId -->
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-lg" onclick="userIdUpdate('7')">7</button>
                                                <button type="button" class="btn btn-lg" onclick="userIdUpdate('8')">8</button>
                                                <button type="button" class="btn btn-lg" onclick="userIdUpdate('9')">9</button>
                                                <button type="button" class="btn btn-lg" onclick="userIdRemoveOne()">←</button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-lg" onclick="userIdUpdate('4')">4</button>
                                                <button type="button" class="btn btn-lg" onclick="userIdUpdate('5')">5</button>
                                                <button type="button" class="btn btn-lg" onclick="userIdUpdate('6')">6</button>
                                                <button type="button" class="btn btn-lg" onclick="userIdRemove()">C</button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-lg" onclick="userIdUpdate('1')">1</button>
                                                <button type="button" class="btn btn-lg" onclick="userIdUpdate('2')">2</button>
                                                <button type="button" class="btn btn-lg" onclick="userIdUpdate('3')">3</button>
                                                <button class="btn" type="submit">✓</button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-lg"></button>
                                                <button type="button" class="btn btn-lg" onclick="userIdUpdate('0')">0</button>
                                                <button type="button" class="btn btn-lg"></button>
                                                <button class="btn" type="button"></button>
                                            </div>
                                        </div>
                                    </form>

                                    <script> // functions for change calculation
                                        function calculateChange() {
                                            var change = document.URL.split("?")[1];
                                            change = change.split("=")[1];
                                            change = change.replace("%20", "");
                                            document.getElementById('changeValue').value=change;
                                        }
                                    </script>

                                    <div class="form-group">
                                        <br>
                                        <label for="change">Bargeld</label>

                                        <script> // functions for numpad change
                                        var changeInput = "";
                                        function changeUpdate(char) {
                                            changeInput = changeInput + char;
                                            document.getElementById('change').value=changeInput;
                                        }
                                        function changeRemoveOne() {
                                            changeInput = changeInput.substring(0, changeInput.length-1)
                                            document.getElementById('change').value=changeInput;
                                        }
                                        function changeRemove() {
                                            changeInput = "";
                                            document.getElementById('change').value=changeInput;
                                        }
                                        </script>

                                        <form class="from-group" method="post" th:action="@{/cashiersystemCalcChange}">
                                            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${errorChange}" id="changeError">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <strong>Achtung!</strong> <a th:text="${errorMsgChange}"></a>
                                            </div>

                                            <input type="text" class="form-control" id="change" name="changeInput" placeholder="Bargeld Betrag">
                                            <div class="btn-group-vertical"> <!-- numpad change -->
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-lg" onclick="changeUpdate('7')">7</button>
                                                    <button type="button" class="btn btn-lg" onclick="changeUpdate('8')">8</button>
                                                    <button type="button" class="btn btn-lg" onclick="changeUpdate('9')">9</button>
                                                    <button type="button" class="btn btn-lg" onclick="changeRemoveOne()">←</button>
                                                </div>
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-lg" onclick="changeUpdate('4')">4</button>
                                                    <button type="button" class="btn btn-lg" onclick="changeUpdate('5')">5</button>
                                                    <button type="button" class="btn btn-lg" onclick="changeUpdate('6')">6</button>
                                                    <button type="button" class="btn btn-lg" onclick="changeRemove()">C</button>
                                                </div>
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-lg" onclick="changeUpdate('1')">1</button>
                                                    <button type="button" class="btn btn-lg" onclick="changeUpdate('2')">2</button>
                                                    <button type="button" class="btn btn-lg" onclick="changeUpdate('3')">3</button>
                                                    <button type="button" class="btn btn-lg"></button>
                                                </div>
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-lg" onclick="changeUpdate('.')">.</button>
                                                    <button type="button" class="btn btn-lg" onclick="changeUpdate('0')">0</button>
                                                    <button class="btn" type="submit">Berechnen</button>
                                                </div>
                                                <label>Wechselgeld: </label>
                                            </div>
                                        </form>
                                        <input type="text" class="form-control" id="changeValue" name="changeValueInput" placeholder="Wechselgeld Betrag" th:value="${change}" readonly>
                                        <button type="button" class="btn btn-sm" onclick="calculateChange()">Anzeigen</button>
                                    </div>

                                </div>

                                <div class="col-lg-6" id="Overview"> <!-- Overview of values of cart -->
                                    <div id="OverviewText">
                                        <a>Anzahl der Artikel: </a>
                                        <input type="text" class="form-control" id="number" name="number" placeholder="Anzahl" readonly>
                                    </div>
                                    <div id="OverviewText">
                                        <ul id="money">
                                            <li><a>Rabatt: </a></li>
                                            <input type="text" class="form-control" id="discount" name="discount" placeholder="Rabatt" readonly>
                                            <li><a>MwSt.: </a></li>
                                            <input type="text" class="form-control" id="mwst" name="mwst" placeholder="MwSt." readonly>
                                            <li><a>Pfand: </a></li>
                                            <input type="text" class="form-control" id="pfand" name="pfand" placeholder="Pfand" readonly>
                                        </ul>
                                    </div>
                                    <div id="OverviewText">
                                        <a>Summe: </a>
                                        <input type="text" class="form-control" id="sum" name="sum" placeholder="Summe" th:value="${shoppingCart.getPrice()}" readonly>
                                    </div>

                                    <div align="right">
                                        <button class="alert alert-primary btn-lg" type="submit" id="finish">Fertig</button>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="webjars/jquery/3.3.1/jquery.js"></script>
        <script src="webjars/bootstrap/4.1.3/js/bootstrap.bundle.js"></script>
    </body>
</html>