<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<html lang=""> -->

<head>
    <!--Title-->
    <title>Kasse</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
</head>
<body>
<!--Naviagtion-->
<nav th:include="navigation_new :: navigation"></nav>
<div class="buttons-area">
    <div class="container">
        <div class="row">
            <!--left area Start-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-right: 5px;">
                <div class="btn-demo-notika mg-t-30">

                    <form class="form-group" method="post" th:action="@{/cashiersystemAdd}"> <!-- Sends pid and amount -->
                        <div class="form-group"> <!-- form for product code -->
                            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${errorPid}" id="pidError">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Achtung!</strong> <a th:text="${errorMsgPid}"></a>
                            </div>
                            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${errorProductAmount}">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Achtung!</strong> <a th:text="${errorProductAmountMsg}"></a>
                            </div>

                            <label for="pidInput">Produkt-Code</label>
                            <input type="text" class="form-control" id="pidInput" name="pid" placeholder="Produkt-Code eingeben" oninput="updatePfand()">
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                                <script> // functions for numpad pid
                                var pidInput = "";
                                function pidUpdate(char) {
                                    pidInput = pidInput + char;
                                    document.getElementById('pidInput').value=pidInput;
                                    updatePfand();
                                }
                                function pidRemoveOne() {
                                    pidInput = pidInput.substring(0, pidInput.length-1);
                                    document.getElementById('pidInput').value=pidInput;
                                    updatePfand();
                                }
                                function pidRemove() {
                                    pidInput = "";
                                    document.getElementById('pidInput').value=pidInput;
                                    updatePfand();
                                }
                                </script>

                                <!-- numpad for pid -->
                                <div class="numpad-wrapper">
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n0" onclick="pidUpdate('0')">0</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n1" onclick="pidUpdate('1')">1</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n2" onclick="pidUpdate('2')">2</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n3" onclick="pidUpdate('3')">3</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n4" onclick="pidUpdate('4')">4</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n5" onclick="pidUpdate('5')">5</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n6" onclick="pidUpdate('6')">6</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n7" onclick="pidUpdate('7')">7</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n8" onclick="pidUpdate('8')">8</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n9" onclick="pidUpdate('9')">9</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: bs" onclick="pidRemoveOne()"><i class="fas fa-backspace"></i></button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: cl" onclick="pidRemove()"><b>C</b></button>
                                    <button type="submit" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: sm"><i class="fas fa-check"></i></button>
                                </div>

                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <label for="amountInput">Menge</label> <!-- form for amount -->
                                <div class="form-group">
                                    <div  class="row">

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                            <script> // functions for amount
                                            var amountInput = 1;
                                            function add(amount) {
                                                amountInput += amount;
                                                if (amountInput == 0) {
                                                    amountInput = 1;
                                                }
                                                document.getElementById('amountInput').value=amountInput;
                                                updatePfand();
                                            }
                                            </script>

                                            <input type="text" class="form-control" id="amountInput" name="amount" placeholder="Menge eingeben" value="1" oninput="updatePfand()">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div align="right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-danger" style="margin-right: 0px;" onclick="add(-1)">-1</button> <!-- substract one from amount -->
                                                    <button type="button" class="btn btn-success" style="margin-right: 0px;" onclick="add(1)">+1</button> <!-- add one to amount -->
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
                        <div class="pre-scrollable" style="max-height: 200px">
                            <div th:if="${shoppingCart.isEmpty()}"> <!-- Handling for empty cart -->
                                <div class="header" align="center">
                                    Ihr Warenkorb ist leer
                                </div>
                            </div>

                            <div th:unless="${shoppingCart.isEmpty()}"> <!-- Handling for non empty cart -->
                                <table class="table">
                                    <thead> <!-- table head -->

                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Menge</th>
                                        <th scope="col">Preis</th>
                                        <th scope="col">&#x1F5D1;</th>
                                    </tr>

                                    </thead>

                                    <tbody> <!-- table body -->

                                    <tr th:each="item : ${shoppingCart} ">
                                        <td scope="row" th:text="${item.getProductName()}">ProductName</td>
                                        <td th:text="${item.getQuantity()}">1</td>
                                        <td th:text="${item.getPrice()}">1</td>
                                        <td>
                                            <div class="form-group">
                                                <a th:href="@{/deleteCartItem(cartItemId = ${item.getId()})}">
                                                    <button class="btn btn-danger danger-icon-notika btn-reco-mg btn-button-mg waves-effect" data-toggle="tooltip" data-placement="left" title="" data-original-title="Löschen">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>

                    <div class="alert alert-danger alert-dismissible" role="alert" th:if="${errorPfand}">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Achtung!</strong> <a th:text="${errorPfandMsg}"></a>
                    </div>

                    <div align="center">
                        <form class="form-group" method="post" th:action="@{/cashiersystemPfand}">
                            <input type="hidden" name="pid" id="pidPfand" value="">
                            <input type="hidden" name="amount" id="amountPfand" value="">
                            <script>
                                function updatePfand() {
                                    document.getElementById("pidPfand").value = document.getElementById("pidInput").value;
                                    document.getElementById("amountPfand").value = document.getElementById("amountInput").value;
                                }
                            </script>
                            <button type="submit" class="btn btn-lg btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="color:#fff;"><i class="fas fa-wine-bottle"></i>Pfand</button>
                        </form>
                    </div>

                    <div class="pre-scrollable" style="max-height: 200px">
                        <div th:if="${shoppingCart.getPfand().isEmpty()}"> <!-- Handling for empty cart -->
                            <div class="header" align="center">
                                Kein Pfand abgegeben
                            </div>
                        </div>

                        <div th:unless="${shoppingCart.getPfand().isEmpty()}"> <!-- Handling for non empty cart -->
                            <table class="table">
                                <thead> <!-- table head -->

                                <tr>
                                    <th scope="col">Preis</th>
                                    <th scope="col">Anzahl</th>
                                </tr>

                                </thead>

                                <tbody> <!-- table body -->

                                <tr th:each="entry : ${shoppingCart.pfand} ">
                                    <td scope="row" th:text="${entry.key}">Preis</td>
                                    <td th:text="${entry.value}">Anzahl</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
            <!--left area End-->
            <!--right area- Start-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 5px;">
                <div class="btn-demo-notika mg-t-30">
                    <h1>Übersicht</h1>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                            <form class="form-group" method="post" th:action="@{/cashiersystemUser}">
                                <div class="form-group">
                                    <div class="alert alert-danger alert-dismissible" role="alert" th:if="${errorUid}">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>Achtung!</strong> <a th:text="${errorMsgUid}"></a>
                                    </div>
                                    <label for="userId">Kunden ID</label>
                                    <input type="text" class="form-control" id="userId" name="userId" placeholder="Kunden ID eingeben">
                                </div>

                                <script> // functions for numpad userId
                                var userIdInput = "";
                                function userIdUpdate(char) {
                                    userIdInput = userIdInput + char;
                                    document.getElementById('userId').value=userIdInput;
                                }
                                function userIdRemoveOne() {
                                    userIdInput = userIdInput.substring(0, userIdInput.length-1)
                                    document.getElementById('userId').value=userIdInput;
                                }
                                function userIdRemove() {
                                    userIdInput = "";
                                    document.getElementById('userId').value=userIdInput;
                                }
                                </script>

                                <!-- numpad for uid -->
                                <div class="numpad-wrapper">
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n0" onclick="userIdUpdate('0')">0</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n1" onclick="userIdUpdate('1')">1</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n2" onclick="userIdUpdate('2')">2</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n3" onclick="userIdUpdate('3')">3</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n4" onclick="userIdUpdate('4')">4</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n5" onclick="userIdUpdate('5')">5</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n6" onclick="userIdUpdate('6')">6</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n7" onclick="userIdUpdate('7')">7</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n8" onclick="userIdUpdate('8')">8</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n9" onclick="userIdUpdate('9')">9</button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: bs" onclick="userIdRemoveOne()"><i class="fas fa-backspace"></i></button>
                                    <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: cl" onclick="userIdRemove()"><b>C</b></button>
                                    <button type="submit" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: sm"><i class="fas fa-check"></i></button>
                                </div>

                            </form>

                            <div class="form-group">
                                <br>

                                <script> // functions for numpad change
                                var changeInput = "";
                                function changeUpdate(char) {
                                    changeInput = changeInput + char;
                                    document.getElementById('change').value=changeInput;
                                }
                                function changeRemoveOne() {
                                    changeInput = changeInput.substring(0, changeInput.length-1)
                                    document.getElementById('change').value=changeInput;
                                }
                                function changeRemove() {
                                    changeInput = "";
                                    document.getElementById('change').value=changeInput;
                                }
                                </script>

                                <form class="from-group" method="post" th:action="@{/cashiersystemCalcChange}">
                                    <div class="form-group">
                                        <div class="alert alert-danger alert-dismissible" role="alert" th:if="${errorChange}">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Achtung!</strong> <a th:text="${errorMsgChange}"></a>
                                        </div>
                                        <div class="alert alert-danger alert-dismissible" role="alert" th:if="${errorChangeLow}">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Achtung!</strong> <a th:text="${errorChangeLowMsg}"></a>
                                        </div>

                                        <label for="change">Bargeld</label>
                                        <input type="text" class="form-control" id="change" name="changeInput" placeholder="Bargeld Betrag">
                                    </div>


                                    <!-- numpad for change -->
                                    <div class="numpad-wrapper numpad-wrapper-dp">
                                        <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n0" onclick="changeUpdate('0')">0</button>
                                        <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n1" onclick="changeUpdate('1')">1</button>
                                        <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n2" onclick="changeUpdate('2')">2</button>
                                        <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n3" onclick="changeUpdate('3')">3</button>
                                        <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n4" onclick="changeUpdate('4')">4</button>
                                        <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n5" onclick="changeUpdate('5')">5</button>
                                        <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n6" onclick="changeUpdate('6')">6</button>
                                        <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n7" onclick="changeUpdate('7')">7</button>
                                        <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n8" onclick="changeUpdate('8')">8</button>
                                        <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: n9" onclick="changeUpdate('9')">9</button>
                                        <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: bs" onclick="changeRemoveOne()"><i class="fas fa-backspace"></i></button>
                                        <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: cl" onclick="changeRemove()"><b>C</b></button>
                                        <button type="submit" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: sm"><i class="fas fa-check"></i></button>
                                        <button type="button" class="btn btn-black notika-btn-black black-icon-notika btn-reco-mg btn-button-mg waves-effect" style="grid-area: dp" onclick="changeUpdate('.')">.</button>
                                    </div>

                                </form>
                            </div>
                            <label>Wechselgeld: </label>
                            <input type="text" class="form-control" id="changeValue" name="changeValueInput" placeholder="Wechselgeld Betrag" th:value="${change}" readonly>

                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="background-color: #146b4a">

                            <div>
                                <div class="labels-overview">Anzahl der Artikel: </div>
                                <input type="text" class="form-control" id="number" name="number" placeholder="Anzahl" th:value="${shoppingCart.getAmountOfItems()}" readonly>
                                <br>
                            </div>
                            <div>
                                <ul>
                                    <div>
                                        <li><div class="labels-overview">Rabatt: </div></li>
                                        <input type="text" class="form-control" id="discount" name="discount" placeholder="Rabatt" th:value="${shoppingCart.getCustomerDiscountString()} " readonly>
                                        <br>
                                        <li><div class="labels-overview">MwSt.: </div></li>
                                        <input type="text" class="form-control" id="mwst" name="mwst" placeholder="MwSt." th:value="${shoppingCart.getMwstMoney()}" readonly>
                                        <br>
                                        <li><div class="labels-overview">Pfand: </div></li>
                                        <input type="text" class="form-control" id="pfand" name="pfand" placeholder="Pfand" th:value="${shoppingCart.getPfandMoney()}" readonly>
                                        <br>
                                    </div>
                                </ul>
                            </div>
                            <div>
                                <div>
                                    <div class="labels-overview">Summe: </div>
                                    <input type="text" class="form-control" id="sum" name="sum" placeholder="Summe" th:value="${shoppingCart.getPrice()}" readonly>
                                    <br>
                                </div>
                            </div>

                            <br>

                            <div align="right">
                                <form class="from-group" method="post" th:action="@{/cashiersystemAbort}">
                                    <button class="btn btn-primary btn-lg btn-block btn-danger" type="submit" id="abort">Abbrechen</button>
                                </form>
                            </div>

                            <br>

                            <div align="right">
                                <form class="from-group" method="post" th:action="@{/cashiersystemFinish}">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit" id="finish">Fertig</button>
                                </form>
                            </div>

                            <br>

                        </div>
                    </div>
                </div>
            </div>
            <!--right area End-->
        </div>
    </div>

</div>

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

</body>
</html>