<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Title-->
    <title>Userverwaltung</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
</head>

<body>
<!--Navigation-->
<nav th:include="navigation_new :: navigation"></nav>


<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">

                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="basic-tb-hd">
                                <h2>Personen verwalten</h2>

                            </div>
                            <div class="alert alert-danger alert-dismissible alert-mg-b-0" role="alert" th:if="${errorPasswordReset}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">
                                            <i class="far fa-times-circle"></i>
                                        </span></button>
                                <strong>Achtung! </strong> <x th:text="${errorPasswordResetMsg}"></x>
                            </div>
                            <div class="alert alert-success alert-dismissible alert-mg-b-0" role="alert" th:if="${successRegisterReset}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">
                                            <i class="far fa-times-circle"></i>
                                        </span></button>
                                <strong>Hinweis: </strong> Passwort wurde erfolgreich auf das Standardpasswort <i>blattgrün43</i> zurückgesetzt
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <a th:href="@{/register}">
                                <button type="button" class="btn btn-info notika-btn-green"
                                        style="float: right">Person hinzufügen
                                </button>
                            </a>

                            <!--
                            <button type="button" class="btn btn-info notika-btn-green" data-toggle="modal" data-target="#addUserModal"
                                    style="float: right">Person hinzufügen
                            </button>

                            // dialog: add user Start //
                            <div class="modal fade" id="addUserModal" role="dialog">
                                <div class="modal-dialog modal-large">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div th:include="register :: registerform"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            // dialog: add user End -->
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">

                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Vorname</th>
                                <th>Type</th>
                                <th>E-Mail</th>
                                <th>Adresse</th>
                                <th>Telefonnummer</th>
                                <th>Geschlecht</th>
                                <th sec:authorize="hasAnyRole('ROLE_MANAGER')">Aktion</th>
                            </tr>
                            </thead>
                            <tbody th:remove="all-but-first">
                            <tr th:each="customer : ${customerList}">
                                <td th:text="${customer.getId()}">1</td>
                                <td th:text="${customer.getLastname()}">Feldfreude</td>
                                <td th:text="${customer.getFirstname()}">Flori</td>
                                <td th:text="${customer.getCustomerType().getTypeName()}">Manager</td>
                                <td th:text="${customer.getEmail()}">blattgrün@bioladen.de</td>
                                <td th:text="${customer.getStreet()}">Feldweg 43</td>
                                <td th:text="${customer.getPhone()}"> 03514343434</td>
                                <td th:text="${customer.getSex().getSexName()}">männlich</td>
                                <td style="padding: 9px;" sec:authorize="hasAnyRole('ROLE_MANAGER')">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            <i class="fas fa-ellipsis-h"></i></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a th:href="@{/customerlist/delete(id = ${customer.getId()})}">
                                                    <button class="btn btn-danger danger-icon-notika btn-reco-mg btn-button-mg waves-effect" data-toggle="tooltip" data-placement="left" title="" data-original-title="Löschen" style="float: right">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </a>
                                            </li>
                                            <li th:if="${customer.getCustomerType().getTypeName() == 'Manager' or customer.getCustomerType().getTypeName() == 'Personal'}">
                                                <a th:href="@{/customerlist/resetPassword(email = ${customer.getEmail()})}">
                                                    <button class="btn btn-orange orange-icon-notika btn-reco-mg btn-button-mg waves-effect" data-toggle="tooltip" data-placement="left" title="" data-original-title="Password zurücksetzen" style="float: right">
                                                        <i class="fas fa-key"></i>
                                                    </button>
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/customerlist/modify(id = ${customer.getId()})}">
                                                    <button class="btn btn-amber amber-icon-notika btn-reco-mg btn-button-mg waves-effect" data-toggle="tooltip" data-placement="left" title="" data-original-title="Bearbeiten" style="float: right">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </button>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Vorname</th>
                                <th>Type</th>
                                <th>E-Mail</th>
                                <th>Adresse</th>
                                <th>Telefonnummer</th>
                                <th>Geschlecht</th>
                                <th sec:authorize="hasAnyRole('ROLE_MANAGER')">Aktion</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

</body>
</html>