<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Title-->
    <title>Aktions-Verlauf</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="/css/info-box.css">

</head>

<body>
<!--Navigation-->
<nav th:include="navigation_new :: navigation"></nav>


<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="basic-tb-hd">
                                <h2>Aktions-Verlauf</h2>
                            </div>
                        </div>
                    </div>
                    <th:block th:each="dataEntry : ${history}" th:switch="${dataEntry.getEntityLevel()}">
                        <div th:case="*" th:class="'info-box info-box--' + ${dataEntry.getEntityLevel().getClassName()} + ' info-box--hidden'">
                            <div class="info-box-entity">
                                <div class="info-box-entity-heading">
                                    <div class="info-box-entity-heading-name" th:text="${dataEntry.getName()}">ENTITY_NAME</div>
                                    <div class="info-box-entity-heading-class" th:text="${dataEntry.getEntity().getClass().getName()}">ENTITY_CLASS_NAME</div>
                                </div>
                                <table class="info-box-entity-attributes-table">
                                    <tr th:each="field : ${dataEntry.getDeclaredFields()}" class="info-box-entity-attributes-table-attribute">
                                        <td class="info-box-entity-attributes-table-attribute-name" th:text="${field.key}">ENTITY_ATTRIBUTE_NAME</td>
                                        <td class="info-box-entity-attributes-table-attribute-value" th:text="${field.value}">ENTITY_ATTRIBUTE_VALUE</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="info-box-infos">
                                <div class="info-box-infos-info info-box-infos-info--date" th:text="${dataEntry.getFormattedSaveTime('dd.MM.yyyy')}">DATA_ENTRY_DATE</div>
                                <div class="info-box-infos-info info-box-infos-info--time" th:text="${dataEntry.getFormattedSaveTime('HH:mm:ss')}">DATA_ENTRY_TIME</div>
                                <div class="info-box-infos-info info-box-infos-info--user" th:text="${dataEntry.getInvolvedCustomer() != null} ? ${dataEntry.getInvolvedCustomer().getName()} + ' (' + ${dataEntry.getInvolvedCustomer().getCustomerType().getTypeName()} + ')' : 'System'">DATA_ENTRY_INVOLVED_CUSTOMER_NAME (DATA_ENTRY_INVOLVED_CUSTOMER_CUSTOMER_TYPE)</div>
                                <div class="info-box-infos-info info-box-infos-info--thrown-by" th:text="${dataEntry.getThrownBy()}">DATA_ENTRY_THROWN_BY</div>
                                <div class="info-box-infos-info info-box-infos-info--message" th:text="${dataEntry.getMessage()}">DATA_ENTRY_MESSAGE</div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

<script src="/js/info-box.js"></script>

</body>
</html>