<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Title-->
    <title>Großhändlerliste</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
</head>

<body>
<!--Naviagtion-->
<nav th:include="navigation_new :: navigation"></nav>


<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">

                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="basic-tb-hd">
                                <h2>Großhändlerliste</h2>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-info notika-btn-green" data-toggle="modal" data-target="#addDistributorModal"
                                    style="float: right">Großhändler hinzufügen
                            </button>

                            <!-- dialog: add distributor Start -->
                            <div class="modal fade" id="addDistributorModal" role="dialog">
                                <div class="modal-dialog modal-large">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div th:include="distributorform :: distributorform"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- dialog: add distributor End -->
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">

                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>E-Mail</th>
                                <th>Kontakt</th>
                                <th>Telefonnummer</th>
                                <th>Löschen?</th>
                            </tr>
                            </thead>
                            <tbody th:remove="all-but-first">
                            <tr th:each="distributor : ${distributorList}">
                                <td th:text="${distributor.getId()}">1</td>
                                <td th:text="${distributor.getName()}">REWE</td>
                                <td th:text="${distributor.getEmail()}">blattgrün@bioladen.de</td>
                                <td th:text="${distributor.getContactName()}">Frida</td>
                                <td th:text="${distributor.getPhone()}">035135426236</td>
                                <td style="padding: 9px;">
                                    <a th:href="@{/distributorlist/delete(id = ${distributor.getId()})}">
                                        <button class="btn btn-danger danger-icon-notika btn-reco-mg btn-button-mg waves-effect">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>E-Mail</th>
                                <th>Kontakt</th>
                                <th>Telefonnummer</th>
                                <th>Löschen?</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

</body>
</html>