<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Großhändler hinzufügen</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

<nav th:include="navigation :: navigation"></nav>
<div class="container" id="centerBox">

    <div>
        <h1 align="center">Großhändler hinzufügen</h1>
        <br>
        <form method="post" th:action="@{/registerDistributor}">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputName">Name*</label>
                    <input type="text" class="form-control" id="inputName" name="name" placeholder="Name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputEmail">EMail*</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="EMail">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputContactName">Kontaktperson*</label>
                    <input type="text" class="form-control" id="inputContactName" name="contactName" placeholder="Konstaktperson">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputPhone">Telefonnummer*</label>
                    <input type="text" class="form-control" id="inputPhone" name="phone" placeholder="Telefonnummer">
                </div>
            </div>

            <button type="submit" class="btn btn-success">Großhändler erstellen</button>
        </form>
        <br>
    </div>

</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="webjars/jquery/3.3.1/jquery.js"></script>
<script src="webjars/bootstrap/4.1.3/js/bootstrap.bundle.js"></script>
</body>
</html>