<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Title-->
    <title>Großhändlerproduktliste</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
</head>

<body>
<!--Navigation-->
<nav th:include="navigation_new :: navigation"></nav>


<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">

                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="basic-tb-hd">
                                <h2>Großhändlerproduktliste</h2>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-info notika-btn-green" data-toggle="modal" data-target="#addDistributorProductModal"
                                    style="float: right">Großhändlerprodukt hinzufügen
                            </button>

                            <!-- dialog: add distributor Start -->
                            <div class="modal fade" id="addDistributorProductModal" role="dialog">
                                <div class="modal-dialog modal-large">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div th:include="distributorproductform :: distributorproductform"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- dialog: add distributor End -->

                            <!-- dialog: BNN import -->
                            <div class="modal fade" id="bnnImportModal" role="dialog">
                                <div class="modal-dialog modal-large">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" th:action="@{/importBnn}" enctype="multipart/form-data">

                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <label for="inputBnnFile">BNN-Datei</label>
                                                        <input type="file" class="form-control-file" id="inputBnnFile" name="bnnFile" accept="text/comma-separated-values">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputDistributor">Großhändler*</label>
                                                    <select class="form-control" id="inputDistributor" name="distributor" required>
                                                        <option disabled selected>Großhändler</option>
                                                        <option th:each="distributor : ${distributorList}" th:value="${distributor.getId()}" th:text="${distributor.getName()}">REWE</option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-success">Datei einlesen</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- dialog: BNN import -->
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">

                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Großhändler</th>
                                <th>Preis</th>
                                <th>Grundeinheit</th>
                                <th>Mindestbestellanzahl</th>
                                <th>Als Produkt hinzufügen</th>
                            </tr>
                            </thead>
                            <tbody th:remove="all-but-first">
                            <tr th:each="distributorProduct : ${distributorProductList}">
                                <td th:text="${distributorProduct.getId()}">1</td>
                                <td th:text="${distributorProduct.getName()}">REWE</td>
                                <td th:text="${distributorProduct.getDistributor().getName()}"></td>
                                <td th:text="${distributorProduct.getPrice()}">blattgrün@bioladen.de</td>
                                <td th:text="${distributorProduct.getUnit()}">Frida</td>
                                <td th:text="${distributorProduct.getMinimumOrderAmount()}">035135426236</td>
                                <td style="padding: 9px;">
                                    <a th:href="@{/productlist/add(id = ${distributorProduct.getId()})}">
                                        <button class="btn btn-info notika-btn-green green-icon-notika btn-reco-mg btn-button-mg waves-effect">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Großhändler</th>
                                <th>Preis</th>
                                <th>Grundeinheit</th>
                                <th>Mindestbestellanzahl</th>
                                <th>Als Produkt hinzufügen</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

</body>
</html>