<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Großhändlerproduktliste</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
</head>
<body>

<nav th:include="navigation :: navigation"></nav>
<div class="container" id="centerBox">
    <div style="width: 80%">
        <h1 align="center">Großhändlerproduktliste</h1>
        <table class="table">
            <thead>
            <tr class="bg-success">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Großhändler</th>
                <th scope="col">Preis</th>
                <th scope="col">Grundeinheit</th>
                <th scope="col">Mindesbestellanzahl</th>
                <th scope="col">&#x1F5D1;&#xFE0F;</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="distributorProduct : ${distributorProductList}">
                <td th:text="${distributorProduct.getDistributorProductIdentifier()}">1</td>
                <td th:text="${distributorProduct.getName()}">Milch</td>
                <td th:text="${distributorProduct.getDistributor().getName()}">REWE</td>
                <td th:text="${distributorProduct.getPrice()}">500,-</td>
                <td th:text="${distributorProduct.getUnit()}">27 kg</td>
                <td th:text="${distributorProduct.getMinimumOrderAmount()}">123</td>
                <form class="form-group" method="post" th:action="@{/removedistributorProduct}">
                    <input value="0" id="delete" type="hidden" class="form-control" name="distributorProductIdentifier" th:value="${distributorProduct.getDistributorProductIdentifier()}">
                    <td><button type="submit" class="btn btn-danger btn-sm">&#x1F5D1;&#xFE0F;</button></td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>


</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="webjars/jquery/3.3.1/jquery.js"></script>
<script src="webjars/bootstrap/4.1.3/js/bootstrap.bundle.js"></script>
</body>
</html>