<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Title-->
    <title>Login</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
</head>

<body>
<!--Navigation-->
<nav th:include="navigation_new :: navigation"></nav>

<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <h1 align="center">Login</h1>
                    <br>
                    <form method="post" th:action="@{/login}" data-toggle="validator">
                        <div class="row">
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label for="username" class="control-label">E-Mail*</label>
                                    <input type="email" class="form-control" id="username" name="username"
                                           placeholder="E-Mail" required>
                                </div>


                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label for="password" class="control-label">Passwort*</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                           placeholder="Passwort" required>
                                </div>


                            </div>

                        </div>
                        <button type="submit" class="btn btn-success">Login</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

<!-- Validator.js -->
<script src="/js/validator.js"></script>


</body>
</html>