<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Title-->
    <title>Personenbearbeitung</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
</head>

<body>
<!--Navigation-->
<nav th:include="navigation_new :: navigation"></nav>


<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <h1 align="center">Personbezogene Daten bearbeiten</h1>
                    <br>
                    <div class="alert alert-danger alert-dismissible alert-mg-b-0" role="alert" th:if="${errorModified}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">
                                            <i class="far fa-times-circle"></i>
                                        </span></button>
                        <strong>Achtung! </strong> Es ist ein Fehler beim Bearbeiten aufgetreten. Ursache : <x th:text="${errorModifiedMsg}"></x>
                    </div>
                    <div class="alert alert-success alert-dismissible alert-mg-b-0" role="alert" th:if="${successModiefied}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">
                                            <i class="far fa-times-circle"></i>
                                        </span></button>
                        <strong>Hinweis: </strong> Änderungen wurden erfolgreich gespeichert.
                    </div>

                    <form method="post" th:action="@{/modified}" data-toggle="validator" role="form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputFirstName" class="control-label">Vorname*</label>
                                <input type="text" class="form-control" id="inputFirstName" name="firstname" placeholder="Vorname" th:value="${firstname}" pattern="^[a-zA-Z][a-zA-Z- ÄäÜüÖöß]{1,30}$" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputName" class="control-label">Nachname*</label>
                                <input type="text" class="form-control" id="inputName" name="lastname" placeholder="Nachname" th:value="${lastname}" pattern="^[a-zA-Z][a-zA-Z- ÄäÜüÖöß]{1,30}$" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPhoneNumber" class="control-label">Telefonnummer</label>
                                <input type="text" class="form-control" id="inputPhoneNumber" name="phone" placeholder="Telefonnummer" th:value="${phone}"  pattern="[0-9]*\/*(\+49)*[ ]*(\([0-9]+\))*([ ]*(-|–)*[ ]*[0-9]+)*" maxlength="25" minlength="3">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail" class="control-label">E-Mail*</label>
                                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" th:value="${email}" readonly required>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputAddress" class="control-label">Adresse</label>
                                <input type="text" class="form-control" id="inputAddress" name="address" placeholder="Adresse" th:value="${street}" pattern="[0-9A-Za-z ÄäÜüÖöß‘.,;-]{5,}">
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-4">
                                <label for="inputCustomer">Kunden-Art</label>

                                <select id="inputCustomer" class="form-control" name="type" required>
                                    <option disabled selected>Bitte den Typ bestätigen</option>
                                    <option value="Hauskunde" >Hauskunde</option>
                                    <option value="Großkunde" sec:authorize="hasAnyRole('ROLE_MANAGER')">Großkunde</option>
                                    <option value="Personal" sec:authorize="hasAnyRole('ROLE_MANAGER')">Personal</option>
                                    <option value="Manager" sec:authorize="hasAnyRole('ROLE_MANAGER')">Manager</option>
                                </select>
                                <div class="help-block">Alter Typ: <x th:text="${type}"></x></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputsex">Geschlecht</label>
                                <select id="inputsex" class="form-control" name="sex" required>
                                    <option disabled selected>Bitte das Geschlecht bestätigen</option>
                                    <option value="männlich">männlich</option>
                                    <option value="weiblich">weiblich</option>
                                    <option value="divers">divers</option>
                                </select>
                                <div class="help-block">Altes Geschlecht: <x th:text="${sex}"></x></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputid">ID</label>
                                <input type="text" class="form-control" id="inputid" name="id" placeholder="ID" th:value="${id}" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6" align="left">
                                <a th:href="@{/customerlist}">
                                    <button type="button" class="btn btn-success"
                                            style="float: left">Änderungen verwerfen
                                    </button>
                                </a>
                            </div>
                            <div class="col-md-6" align="right">
                                <button type="submit" class="btn btn-success" >Änderungen speichern</button>
                            </div>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

<!-- Validator.js -->
<script src="/js/validator.js"></script>

</body>
</html>