<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<!--<html lang=""> -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <!--Title-->
    <title>Navigation</title>
    <!--Title ends-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- font awesome CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- Notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/notika-custom-icon.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="/css/wave/waves.min.css">
    <link rel="stylesheet" href="/css/wave/button.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<nav th:fragment="navigation">
    <!--[if lt IE 8]>
    <p class="browserupgrade">Sie nutzen einen <strong>veralteten</strong> Browser. Bitte <a
            href="http://browsehappy.com/">updaten Sie ihren Browser </a> , um alle Features der Webseite zu erleben.
    </p>
    <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <a th:href="@{/}">
                            <div style="color: white; margin-bottom: 0px; display: flex; align-items: center;">
                                <div><img src="/img/logo/logo.png" alt="Bio-Laden Blattgrün" width="70"/></div>
                                <div style="font-size: 21pt; font-weight: bold;">Bio-Laden</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav notika-top-nav">
                            <li sec:authorize="isAuthenticated()">
                                <a>
                                    <button class="btn btn-default btn-icon-notika waves-effect" style="margin-bottom: 0px"><i class="fas fa-user-circle"></i><x th:text="${' '+#authentication?.name}"></x></button>
                                </a>

                            </li>
                            <li>
                                <a th:href="@{/wishlist}" sec:authorize="!isAuthenticated()">
                                    <button class="btn btn-default btn-icon-notika waves-effect" style="margin-bottom: 0px"><i class="fas fa-star"></i> Merkzettel</button>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/login}"  sec:authorize="!isAuthenticated()">
                                    <button class="btn btn-default btn-icon-notika waves-effect" style="margin-bottom: 0px"><i class="fas fa-key"></i> Login</button>
                                </a>
                                <a th:href="@{/logout}" sec:authorize="isAuthenticated()">
                                    <button class="btn btn-default btn-icon-notika waves-effect" style="margin-bottom: 0px"><i class="fas fa-key"></i> Logout</button>
                                </a>


                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li>
                                    <a th:href="@{/}">Startseite</a>
                                </li>
                                <li>
                                    <a th:href="@{/productlist}" sec:authorize="!hasAnyRole('ROLE_MANAGER','ROLE_STAFF')">Produktübersicht</a>
                                </li>
                                <li><a data-toggle="collapse" data-target="#m_productmanagement" href="#" sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_STAFF')">Produktverwaltung</a>
                                    <ul id="m_productmanagement" class="collapse dropdown-header-top"  sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_STAFF')">
                                        <li><a th:href="@{/distributorproductlist}">Großhändlerprodukte verwalten</a>
                                        </li>
                                        <li><a th:href="@{/productlisr}">Produkte verwalten</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#m_personmanagement" href="#" sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_STAFF')">Personenverwaltung</a>
                                    <ul id="m_personmanagement" class="collapse dropdown-header-top" sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_STAFF')">
                                        <li><a th:href="@{/customerlist}">User verwalten</a></li>
                                        <li><a th:href="@{/distributorlist}">Großhändler verwalten</a></li>
                                    </ul>
                                </li>
                                <li><a th:href="@{/cashiersystem}" sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_STAFF')">Kasse</a></li>
                                <li><a th:href="@{/orders}" sec:authorize="hasAnyRole('ROLE_MANAGER')">Bestellung</a>
                                </li>
                                <li><a th:href="@{/statistic}" sec:authorize="hasAnyRole('ROLE_MANAGER')">Statistik</a>
                                </li>
                                <li><a th:href="@{/datahistory}" sec:authorize="hasAnyRole('ROLE_MANAGER')">Aktions-Verlauf</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-7 main-menu-area-background">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <!--TODO: active Tab-->
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li><a th:href="@{/}"><i class="fab fa-envira"></i>Startseite</a>
                        </li>
                        <li><a th:href="@{/productlist}" sec:authorize="!hasAnyRole('ROLE_MANAGER','ROLE_STAFF')"><i class="fas fa-apple-alt"></i>Produktübersicht</a>
                        </li>
                        <li><a data-toggle="tab" href="#productmanagement" sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_STAFF')"><i class="fas fa-box-open"></i>
                            Produktverwaltung</a>
                        </li>
                        <li><a data-toggle="tab" href="#personmanagement" sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_STAFF')"><i class="fas fa-users-cog"></i>
                            Personenverwaltung</a>
                        </li>
                        <li><a th:href="@{/cashiersystem}" sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_STAFF')"><i class="fas fa-hand-holding-usd"></i>Kasse</a></li>
                        <li><a th:href="@{/orders}" sec:authorize="hasAnyRole('ROLE_MANAGER')"><i class="fas fa-box"></i>Bestellung</a>
                        </li>
                        <li><a th:href="@{/statistic}" sec:authorize="hasAnyRole('ROLE_MANAGER')"><i class="fas fa-chart-line"></i>Statistik</a>
                        </li>
                        <li><a th:href="@{/datahistory}" sec:authorize="hasAnyRole('ROLE_MANAGER')"><i class="fas fa-clipboard-list"></i>Aktions-Verlauf</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="main-menu-area mg-tb-7" style="background-color: transparent;">
        <div class="container"> <!--TODO: round edges-->
            <div class="tab-content custom-menu-content">
                <div id="productmanagement" class="tab-pane notika-tab-menu-bg animated fadeIn">
                    <ul class="notika-main-menu-dropdown border-round-bottom">
                        <li><a th:href="@{/distributorproductlist}">Großhändlerprodukte verwalten</a>
                        </li>
                        <li><a th:href="@{/productlist}">Produkte verwalten</a>
                        </li>
                    </ul>
                </div>
                <div id="personmanagement" class="tab-pane notika-tab-menu-bg animated fadeIn">
                    <ul class="notika-main-menu-dropdown border-round-bottom">
                        <li><a th:href="@{/customerlist}">User verwalten</a>
                        </li>
                        <li><a th:href="@{/distributorlist}">Großhändler verwalten</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</nav>
<!-- Main Menu area End-->


<!-- jquery
        ============================================ -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="/js/bootstrap.min.js"></script>
<!-- wow JS
    ============================================ -->
<script src="/js/wow.min.js"></script>
<!-- price-slider JS
    ============================================ -->
<script src="/js/jquery-price-slider.js"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="/js/owl.carousel.min.js"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="/js/jquery.scrollUp.min.js"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="/js/meanmenu/jquery.meanmenu.js"></script>
<!-- counterup JS
    ============================================ -->
<script src="/js/counterup/jquery.counterup.min.js"></script>
<script src="/js/counterup/waypoints.min.js"></script>
<script src="/js/counterup/counterup-active.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- sparkline JS
    ============================================ -->
<script src="/js/sparkline/jquery.sparkline.min.js"></script>
<script src="/js/sparkline/sparkline-active.js"></script>
<!-- flot JS
    ============================================ -->
<script src="/js/flot/jquery.flot.js"></script>
<script src="/js/flot/jquery.flot.resize.js"></script>
<script src="/js/flot/flot-active.js"></script>
<!-- knob JS
    ============================================ -->
<script src="/js/knob/jquery.knob.js"></script>
<script src="/js/knob/jquery.appear.js"></script>
<script src="/js/knob/knob-active.js"></script>
<!-- icheck JS
    ============================================ -->
<script src="/js/icheck/icheck.min.js"></script>
<script src="/js/icheck/icheck-active.js"></script>
<!--  wave JS
    ============================================ -->
<script src="/js/wave/waves.min.js"></script>
<script src="/js/wave/wave-active.js"></script>
<!--  Chat JS
    ============================================ -->
<script src="/js/chat/jquery.chat.js"></script>
<!--  todo JS
    ============================================ -->
<script src="/js/todo/jquery.todo.js"></script>
<!-- plugins JS
    ============================================ -->
<script src="/js/plugins.js"></script>
<!-- main JS
    ============================================ -->
<script src="/js/main.js"></script>
<!-- tawk chat JS
    ============================================ -->
</body>
</html>