<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Title-->
    <title>Bestellung</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
</head>
<body>
<!--Navigation-->
<nav th:include="navigation_new :: navigation"></nav>

<div class="container">
    <div class="normal-table-list">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="basic-tb-hd" style="margin-bottom: 0px;">
                    <h2>Bestellung</h2>
                    <div class="row"> <!--Buttons area-->
                        <form action="" method="get">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Produktname eingeben"
                                           name="name">
                                </div>

                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Menge" name="amount">
                                </div>

                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info notika-btn-green" style="float: left">
                                        Suchen
                                    </button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
                <div class="bsc-tbl-hvr"
                     style="border-bottom-style: solid;border-bottom-width: 1px;padding-bottom: 10px;"> <!--Table 1-->
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Preis</th>
                            <th>Menge</th>
                            <th>Grundeinheit</th>
                            <th>Kategorie</th>
                            <th>Gesamtpreis</th>
                            <th>Lagerbestand</th>
                            <th>Optionen</th>
                            <th>Bester Preis</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="product : ${list}">
                            <td th:text="${product.getName()}"></td>
                            <td th:text="${#numbers.formatDecimal(product.getPrice().doubleValue(), 0, 'POINT', 2, 'COMMA')} + ' €'"></td>
                            <td th:text="${amount.toString()}"></td>
                            <td th:text="${#numbers.formatDecimal(product.getUnit(), 0, 'POINT', 2, 'COMMA')}"></td>
                            <td th:text="${(product.getProductCategory().getDescriptionDe())}"></td>
                            <td th:text="${#numbers.formatDecimal(amount * product.getPrice().doubleValue(), 0, 'POINT', 2, 'COMMA')} + ' €'"></td>
                            <td th:text="${storage.apply(product)}"></td>
                            <div th:if="${product.getMinimumOrderAmount() <= amount}">
                                <td style="padding: 9px;">
                                    <a th:href="'/order/add?id=' + ${product.getId()} + '&amount=' + ${amount}">
                                        <button type="button" class="btn btn-block btn-info notika-btn-green btn-xs">Hinzufügen</button>
                                    </a>
                                </td>
                            </div>
                            <div th:if="${product.getMinimumOrderAmount() > amount}">
                                <td style="padding: 9px;">
                                    <a th:href="'/order?name=' + ${product.getName()} + '&amount=' + ${#numbers.formatDecimal(product.getMinimumOrderAmount() , 1, 0)}">
                                        <button type="button" class="btn btn-block btn-danger notika-btn-red btn-xs">Mindestbestellmenge:
                                            <span th:text="${product.getMinimumOrderAmount()}"></span></button>
                                    </a>
                                </td>
                            </div>
                            <td align="center" th:if="${note.apply(product) != null}"> <a th:title="${note.apply(product).getDisplayName()}"><i th:style="${note.apply(product).getColor()}" class="fas fa-2x fa-coins"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <!--Table 2 -->
                <div class="basic-tb-hd" style="margin-bottom: 0px; margin-top: 20px;">
                    <h2>Übersicht</h2>

                </div>
                <div class="bsc-tbl-hvr"
                     style="border-bottom-style: solid;border-bottom-width: 1px;padding-bottom: 10px;">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Preis</th>
                            <th>Menge</th>
                            <th>Gesamtpreis</th>
                            <th>Lagerbestand</th>
                            <th>Löschen?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${cart}">
                            <td th:text="${item.getProductName()}"></td>
                            <td th:text="${#numbers.formatDecimal(item.getProduct().getPrice().doubleValue(), 0, 'POINT', 2, 'COMMA')} + ' €'"></td>
                            <td th:text="${item.getQuantity().toString()}"></td>
                            <td th:text="${#numbers.formatDecimal(item.getQuantity().getAmount().doubleValue() * item.getPrice().getNumber().doubleValue(), 0, 'POINT', 2, 'COMMA')} + ' €'"></td>
                            <td th:text="${storage.apply(item.getProduct())}"></td>
                            <td style="padding: 9px;">
                                <a th:href="'/order/remove?id=' + ${item.getId()}">
                                    <button class="btn btn-danger danger-icon-notika btn-reco-mg btn-button-mg waves-effect">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="basic-tb-hd" style="padding-left: 15px; padding-right: 15px; margin-top: 10px;">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h6>Anzahl der Artikel: <span th:text="${articles}"></span></h6>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h6 align="right">Summe: <span th:text="${totalprice}"></span> €</h6>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                    <a href="orderFinished">
                                        <button type="button" class="btn btn-info notika-btn-green"
                                                style="float: right"><i class="fas fa-shipping-fast"></i> Bestellen
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

</body>
</html>