<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <title>Bestellen</title>
</head>
<body>

<nav th:include="navigation :: navigation"></nav>


<div class="container">
    <div class="container-fluid">
        <div class="order">
            <h2>Bestellung</h2>
            <form action="" method="get" style="width: 100%">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Produktname eingeben" name="name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Menge" name="amount">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="btn btn-success" value="Suchen">
                    </div>


                </div>
            </form>

            <table style="width: 100%; font-size: 16px;">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Preis</td>
                    <td>Gesamtpreis</td>
                    <td>Lagerbestand</td>
                    <td>-</td>
                </tr>
                </thead>


                <tbody>
                <tr th:each="inventoryProduct : ${products}">
                    <td th:text="${inventoryProduct.getName()}"></td>
                    <td th:text="${#numbers.formatDecimal(inventoryProduct.getPrice().doubleValue(), 0, 'POINT', 2, 'COMMA')} + ' €'"></td>
                    <td th:text="${#numbers.formatDecimal(amount * inventoryProduct.getPrice().doubleValue(), 0, 'POINT', 2, 'COMMA')} + ' €'"></td>
                    <td>?</td>
                    <td><a th:href="'/orders/add?id=' + ${inventoryProduct.getDistributorProductIdentifier()} + '&amount=' + ${amount}">
                        <button class="btn btn-success">Hinzufügen</button>
                    </a></td>
                </tr>

                <tr th:each="product : ${productsfiltered}">
                    <td th:text="${product.getName()}"></td>
                    <td th:text="${#numbers.formatDecimal(product.getPrice().doubleValue(), 0, 'POINT', 2, 'COMMA')} + ' €'"></td>
                    <td th:text="${#numbers.formatDecimal(amount * product.getPrice().doubleValue(), 0, 'POINT', 2, 'COMMA')} + ' €'"></td>
                    <td>?</td>
                    <td><a th:href="'/orders?name=' + ${product.getName()} + '&amount=' + ${#numbers.formatDecimal(product.getMinimumOrderAmount() * product.getUnit() , 1, 0)}"><span class="badge badge-danger" role="alert">
                        Mindestbestellmenge: <span th:text="${product.getMinimumOrderAmount() }"></span>
                    </span></a></td>
                </tr>
                </tbody>
            </table>

            <hr>

            <h5>Bestellübersicht</h5>

            <table style="width: 100%; font-size: 16px;">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Preis</td>
                    <td>Menge</td>
                    <td>Gesamtpreis</td>
                    <td>Lagerbestand</td>
                    <td>🗑️</td>
                </tr>
                </thead>

                <tbody>
                <tr th:each="item : ${cart}">
                    <td th:text="${item.getProductName()}"></td>
                    <td th:text="${#numbers.formatDecimal(item.getProduct().getPrice().doubleValue(), 0, 'POINT', 2, 'COMMA')} + ' €'"></td>
                    <td th:text="${item.getQuantity().toString()}"></td>
                    <td th:text="${#numbers.formatDecimal(item.getQuantity().getAmount().doubleValue() * item.getPrice().getNumber().doubleValue(), 0, 'POINT', 2, 'COMMA')} + ' €'"></td>
                    <td>?</td>
                    <td><a th:href="'/orders/remove?id=' + ${item.getId()}">
                        <button class="btn btn-danger">Löschen</button>
                    </a></td>
                </tr>
                </tbody>

            </table>

            <hr>

            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-6">
                            <h6>Anzahl der Artikel: <span th:text="${articles}"></span></h6>
                        </div>

                        <div class="col-lg-6">
                            <h6>Summe: <span th:text="${totalprice}"></span> €</h6>
                        </div>
                    </div>

                </div>

                <div class="offset-lg-3 col-lg-1">
                    <a href="/orders/orderfinished"><button class="btn btn-success">Bestellen</button></a>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>