<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Title-->
    <title>Bestellungsübersicht</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="/css/info-box.css">
</head>
<body>
<!--Navigation-->
<nav th:include="navigation_new :: navigation"></nav>

<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="basic-tb-hd">
                                <h2>Offene Bestellungen</h2>
                            </div>
                        </div>
                    </div>
                    <th:block th:each="order : ${orders}">
                        <div class="info-box info-box--add info-box--hidden">
                            <div class="info-box-entity">
                                <div class="info-box-entity-heading">
                                    <div class="info-box-entity-heading-name" th:text="${order.getDistributor().getName()}"></div>
                                    <div class="info-box-entity-heading-class" th:text="${#numbers.formatDecimal(order.getPrice().getNumber().doubleValue(),0, 'POINT', 2, 'COMMA')} + ' €'"></div>
                                </div>
                                <table class="info-box-entity-attributes-table" width="50%">
                                    <tr>
                                        <th>Produkt</th>
                                        <th>Anzahl</th>
                                        <th>Preis</th>
                                    </tr>
                                    <tr th:each="product : ${order.getItems()}">
                                        <td th:text="${product.getProduct().getName()}"></td>
                                        <td th:text="${product.getQuantity()}"></td>
                                        <td th:text="${product.getPrice()} + ' €'"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="info-box-infos" style="flex-flow: column wrap;">
                                <div style="flex-flow: column wrap;">
                                    <a th:href="@{/orders/complete(id = ${order.getId()})}">
                                        <button type="button" class="btn btn-info notika-btn-green">
                                            <i class="fas fa-truck-loading"></i>
                                        </button>
                                    </a>
                                    <a th:href="@{/orders/delete(id = ${order.getId()})}">
                                        <button class="btn btn-danger danger-icon-notika btn-reco-mg btn-button-mg waves-effect">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->
<script src="/js/info-box.js"></script>


</body>
</html>