<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Title-->
    <title>Produktliste</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
</head>

<body>
<!--Navigation-->
<nav th:include="navigation_new :: navigation"></nav>


<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="basic-tb-hd">
                                <h2>Produktliste</h2>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <a href="/productlist/labels" sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')">
                                <button type="button" class="btn btn-info notika-btn-green" style="float: right">
                                    <i class="fas fa-tags"></i> Alle Etiketten anzeigen
                                </button>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <a href="/distributorproductlist" sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')">
                                <button type="button" class="btn btn-info notika-btn-green" style="float: right">
                                    Produkt hinzufügen
                                </button>
                            </a>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">

                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Preis</th>
                                <th>Grundeinheit</th>
                                <th sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')">Anzahl Inventar</th>
                                <th sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')" th:if="${stockTaking.isOnGoing()}">Inventur Lager</th>
                                <th sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')">Anzahl Austellfläche</th>
                                <th sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')" th:if="${stockTaking.isOnGoing()}">Inventur Ausstellfläche</th>
                                <th sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')" th:if="${!stockTaking.isOnGoing()}">Warenbewegung</th>
                                <th sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')">Etikett anzeigen</th>
                                <th sec:authorize="!hasAnyRole('ROLE_MANAGER') && !hasAnyRole('ROLE_STAFF')">Auf den Merkzettel</th>
                            </tr>
                            </thead>
                            <tbody th:remove="all-but-first">
                            <tr th:each="inventoryProduct : ${inventoryProductList}">
                                <td th:text="${inventoryProduct.getId()}">1</td>
                                <td><a  th:href="@{/product(id = ${inventoryProduct.getId()})}">
                                    <button type="submit" style="background:transparent; border:none; color:transparent;color:black;padding-left: 0px;padding-left: 0px;padding-right: 0px;">
                                        <x th:text="${inventoryProduct.getName()}">Kartofeel</x>
                                    </button>

                                </a></td>

                                <td th:text="${inventoryProduct.getPrice()}">27.99</td>
                                <td th:text="${inventoryProduct.getUnit() + ' Stk.'}" th:if="${inventoryProduct.getUnitMetric().getAbbreviation().equals('')}">5.0</td>
                                <td th:text="${inventoryProduct.getUnit() + ' ' + inventoryProduct.getUnitMetric().getAbbreviation()}" th:unless="${inventoryProduct.getUnitMetric().getAbbreviation().equals('')}">5.0</td>
                                <td th:text="${inventoryProduct.getInventoryAmount()}" sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')">42</td>
                                <td style="padding: 9px;" sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')" th:if="${stockTaking.isOnGoing()}">
                                    <button type="button" class="btn btn-info notika-btn-green green-icon-notika btn-reco-mg btn-button-mg waves-effect" data-toggle="modal" th:data-target="${'#inventoryStockTakingModal' + inventoryProduct.getId()}">
                                        <i class="fas fa-clipboard-list"></i>
                                    </button>

                                    <!-- dialog: Inventur Inventar Start -->
                                    <div class="modal fade" th:id="${'inventoryStockTakingModal' + inventoryProduct.getId()}" role="dialog">
                                        <div class="modal-dialog modal-large">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <h3 th:text="${inventoryProduct.getName()}"></h3>
                                                    <form method="post" th:action="@{/product/inventoryStockTaking}" enctype="multipart/form-data">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="countedAmountInput">Vorhandene Anzahl</label>
                                                                <input type="number" class="form-control" id="countedAmountInput" name="countedAmount" th:value="${inventoryProduct.getInventoryAmount()}" min="0" step="1">
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="id" th:value="${inventoryProduct.getId()}">
                                                        <button type="submit" class="btn btn-success">Anzahl bestätigen</button>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- dialog: move between Inventory and Display End -->
                                </td>
                                <td th:text="${inventoryProduct.getDisplayedAmount()}" sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')">17</td>
                                <td style="padding: 9px;" sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')" th:if="${stockTaking.isOnGoing()}">
                                    <button type="button" class="btn btn-info notika-btn-green green-icon-notika btn-reco-mg btn-button-mg waves-effect" data-toggle="modal" th:data-target="${'#displayedStockTakingModal' + inventoryProduct.getId()}">
                                        <i class="fas fa-clipboard-list"></i>
                                    </button>

                                    <!-- dialog: Inventur Inventar Start -->
                                    <div class="modal fade" th:id="${'displayedStockTakingModal' + inventoryProduct.getId()}" role="dialog">
                                        <div class="modal-dialog modal-large">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <h3 th:text="${inventoryProduct.getName()}"></h3>
                                                    <form method="post" th:action="@{/product/displayedStockTaking}" enctype="multipart/form-data">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="countedAmountInput">Vorhandene Anzahl</label>
                                                                <input type="number" class="form-control" id="countedAmountInput" name="countedAmount" th:value="${inventoryProduct.getDisplayedAmount()}" min="0" step="1">
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="id" th:value="${inventoryProduct.getId()}">
                                                        <button type="submit" class="btn btn-success">Anzahl bestätigen</button>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- dialog: move between Inventory and Display End -->
                                </td>
                                <td style="padding: 9px;" sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')" th:if="${!stockTaking.isOnGoing()}">
                                    <button type="button" class="btn btn-info notika-btn-green green-icon-notika btn-reco-mg btn-button-mg waves-effect" data-toggle="modal" th:data-target="${'#moveModal' + inventoryProduct.getId()}">
                                        <i class="fas fa-people-carry"></i>
                                    </button>

                                    <!-- dialog: move between Inventory and Display Start -->
                                    <div class="modal fade" th:id="${'moveModal' + inventoryProduct.getId()}" role="dialog">
                                        <div class="modal-dialog modal-large">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" th:action="@{/product/move}" enctype="multipart/form-data">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-4">
                                                                <label for="inventoryAmount">Lager</label>
                                                                <input type="text" class="form-control" id="inventoryAmount" th:value="${inventoryProduct.getInventoryAmount()}" readonly>
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                <label for="inputMoveAmount"><i class="fas fa-long-arrow-alt-right"></i></label>
                                                                <input type="number" class="form-control" id="inputMoveAmount" name="moveAmount" value="0" step="1" required>
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                <label for="displayedAmount">Ausstellfläche</label>
                                                                <input type="text" class="form-control" id="displayedAmount" th:value="${inventoryProduct.getDisplayedAmount()}" readonly>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="id" th:value="${inventoryProduct.getId()}">
                                                        <button type="submit" class="btn btn-success">Warenbewegung abwickeln</button>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- dialog: move between Inventory and Display End -->
                                </td>
                                <td style="padding: 9px;" sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')">
                                    <a th:href="@{/product/label(id = ${inventoryProduct.getId()})}">
                                        <button type="submit"
                                                class="btn btn-info notika-btn-green green-icon-notika btn-reco-mg btn-button-mg waves-effect">
                                            <i class="fas fa-tag"></i>
                                        </button>
                                    </a>
                                </td>
                                <td style="padding: 9px;" sec:authorize="!hasAnyRole('ROLE_MANAGER') && !hasAnyRole('ROLE_STAFF')">
                                    <a th:href="@{/addToWishlist(productId = ${inventoryProduct.getId()})}">
                                        <button type="submit"
                                                class="btn btn-info notika-btn-green green-icon-notika btn-reco-mg btn-button-mg waves-effect">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Preis</th>
                                <th>Grundeinheit</th>
                                <th sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')">Anzahl Inventar</th>
                                <th sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')" th:if="${stockTaking.isOnGoing()}">Inventur Lager</th>
                                <th sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')">Anzahl Austellfläche</th>
                                <th sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')" th:if="${stockTaking.isOnGoing()}">Inventur Ausstellfläche</th>
                                <th sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')" th:if="${!stockTaking.isOnGoing()}">Warenbewegung</th>
                                <th sec:authorize="hasAnyRole('ROLE_MANAGER') || hasAnyRole('ROLE_STAFF')">Etikett anzeigen</th>
                                <th sec:authorize="!hasAnyRole('ROLE_MANAGER') && !hasAnyRole('ROLE_STAFF')">Auf den Merkzettel</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

</body>
</html>