<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Title-->
    <title>Produktliste</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
</head>

<body>
<!--Navigation-->
<nav th:include="navigation_new :: navigation"></nav>


<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">

                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="basic-tb-hd">
                                <h2>Produktliste</h2>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <a href="/distributorproductlist">
                                <button type="button" class="btn btn-info notika-btn-green" style="float: right">Produkt
                                    hinzufügen
                                </button>
                            </a>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">

                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Preis</th>
                                <th>Grundeinheit</th>
                                <th>Anzahl Inventar</th>
                                <th>Anzahl Austellfläche</th>
                                <th>Auf den Merkzettel</th>
                            </tr>
                            </thead>
                            <tbody th:remove="all-but-first">
                            <tr th:each="inventoryProduct : ${inventoryProductList}">
                                <td th:text="${inventoryProduct.getProductIdentifier()}">1</td>
                                <td th:text="${inventoryProduct.getName()}">REWE</td>
                                <td th:text="${inventoryProduct.getPrice()}">blattgrün@bioladen.de</td>
                                <td th:text="${inventoryProduct.getUnit()}">Frida</td>
                                <td th:text="${inventoryProduct.getInventoryAmount()}">035135426236</td>
                                <td th:text="${inventoryProduct.getDisplayedAmount()}">035135426236</td>
                                <td style="padding: 9px;">
                                    <a th:href="@{/addToWishlist(productId = ${inventoryProduct.getProductIdentifier()})}">
                                        <button type="submit"
                                                class="btn btn-info notika-btn-green green-icon-notika btn-reco-mg btn-button-mg waves-effect">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Preis</th>
                                <th>Grundeinheit</th>
                                <th>Anzahl Inventar</th>
                                <th>Anzahl Austellfläche</th>
                                <th>Auf den Merkzettel</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

</body>
</html>