<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Title-->
    <title>Profil</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
</head>

<body>
<!--Naviagtion-->
<nav th:include="navigation_new :: navigation"></nav>

<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <form method="post" th:action="@{/profil}">
                        <h1 align="center">Profil</h1>
                        <br>
                        <div class="form-row center-block">
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <div class="alert alert-danger alert-dismissible alert-mg-b-0" role="alert"
                                     th:if="${errorPassword}">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">
                                            <i class="far fa-times-circle"></i>
                                        </span></button>
                                    <strong>Achtung! </strong>
                                    <x th:text="${errorPasswordMsg}"></x>
                                </div>


                                <div class="alert alert-success alert-dismissible alert-mg-b-0" role="alert"
                                     th:if="${successPassword}">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">
                                            <i class="far fa-times-circle"></i>
                                        </span></button>
                                    <strong>Hinweis: </strong>
                                    <x th:text="${successPasswordMsg}"></x>
                                </div>

                                <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label for="username">Benutzername</label>
                                    <div class="col-sm-10 form-group">
                                        <input type="text" class="form-control" id="username"
                                               th:value="${#authentication?.name}" readonly>
                                    </div>
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label for="inputOldPassword">Altes Passwort</label>
                                    <div class="col-sm-10 form-group">
                                        <input type="password" class="form-control" id="inputOldPassword"
                                               name="oldPassword" placeholder="Altes Passwort">
                                    </div>
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label for="inputNewPassword">Neues Passwort</label>
                                    <div class="col-sm-10 form-group">
                                        <input type="password" class="form-control" id="inputNewPassword"
                                               name="newPassword" placeholder="Neues Passwort">
                                    </div>
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label for="inputNewPasswordAgain">Neues Passwort wiederholen</label>
                                    <div class="col-sm-10 form-group">
                                        <input type="password" class="form-control" id="inputNewPasswordAgain"
                                               name="newPasswordAgain" placeholder="Neues Passwort">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Passwort ändern</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

</body>
</html>