<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <title>Registrieren</title>
</head>
<body>

    <nav th:include="navigation :: navigation"></nav>
    <div class="container">
        <h1>User hinzufügen</h1>
        <br>
        <div>
            <form method="post" th:action="@{/register}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputFirstName">Vorname</label>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="Vorname">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputName">Nachname</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Nachname">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPhoneNumber">Telefonnummer</label>
                        <input type="text" class="form-control" id="inputPhoneNumber" placeholder="Telefonnummer">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputAddress">Adresse</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Adresse">
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="inputCustomer">Kunden-Art</label>
                        <select id="inputCustomer" class="form-control">
                            <option selected>Hauskunde</option>
                            <option>Großkunde</option>
                            <option>Personal</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputsex">Geschlecht</label>
                        <select id="inputsex" class="form-control">
                            <option selected>männlich</option>
                            <option>weiblich</option>
                            <option>divers</option>
                        </select>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary">User erstellen</button>
            </form>
        </div>

    </div>

</body>
</html>