<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Title-->
    <title>Personenregistrierung</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
</head>

<body>
<!--Naviagtion-->
<nav th:include="navigation_new :: navigation"></nav>


<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <h1 align="center">User hinzufügen</h1>
                    <br>
                    <div class="alert alert-danger alert-dismissible alert-mg-b-0" role="alert" th:if="${errorRegister}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">
                                            <i class="far fa-times-circle"></i>
                                        </span></button>
                        <strong>Achtung! </strong> Es ist ein Fehler beim Erstellen der Person aufgetreten. Ursache : <x th:text="${errorRegisterMsg}"></x>
                    </div>
                    <div class="alert alert-success alert-dismissible alert-mg-b-0" role="alert" th:if="${successRegister}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">
                                            <i class="far fa-times-circle"></i>
                                        </span></button>
                        <strong>Hinweis: </strong> Person wurde erfolgreich erstellt.
                    </div>

                    <form method="post" th:action="@{/register}">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputFirstName">Vorname*</label>
                                <input type="text" class="form-control" id="inputFirstName" name="firstname" placeholder="Vorname">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputName">Nachname*</label>
                                <input type="text" class="form-control" id="inputName" name="lastname" placeholder="Nachname">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPhoneNumber">Telefonnummer</label>
                                <input type="text" class="form-control" id="inputPhoneNumber" name="phone" placeholder="Telefonnummer">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail">E-Mail*</label>
                                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputAddress">Adresse*</label>
                                <input type="text" class="form-control" id="inputAddress" name="address" placeholder="Adresse">
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label for="inputCustomer">Kunden-Art*</label>
                                <select id="inputCustomer" class="form-control" name="type">
                                    <option value="House" selected>Hauskunde</option>
                                    <option value="Major" sec:authorize="hasAnyRole('ROLE_MANAGER')">Großkunde</option>
                                    <option value="Staff" sec:authorize="hasAnyRole('ROLE_MANAGER')">Personal</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputsex">Geschlecht*</label>
                                <select id="inputsex" class="form-control" name="sex">
                                    <option value="male" selected>männlich</option>
                                    <option value="female">weiblich</option>
                                    <option value="various">divers</option>
                                </select>
                            </div>
                        </div>


                        <a th:href="@{/customerlist}">
                            <button type="button" class="btn btn-success"
                                    style="float: left">zurück zur Übersicht
                            </button>
                        </a>
                        <button type="submit" class="btn btn-success" >User erstellen</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

</body>
</html>