<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--lang=""> -->

<head>
    <!--Title-->
    <title>Statistik</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
</head>
<body>
<!--Naviagtion-->
<nav th:include="navigation_new :: navigation"></nav>

<!--Page Stuff-->

<!-- Statistic area Begin-->
<div class="statistic-area mg-b-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="line-chart-wp chart-display-nn">
                    <canvas height="140vh" width="180vw" id="basiclinechart"></canvas>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="line-chart-wp sm-res-mg-t-30 chart-display-nn">
                    <canvas height="140vh" width="180vw" id="linechartinterpolation"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="line-chart-wp mg-t-30 chart-display-nn">
                    <canvas height="140vh" width="180vw" id="linechartstyles"></canvas>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="line-chart-wp mg-t-30 chart-mg-nt">
                    <canvas height="140vh" width="180vw" id="linechartpointcircle"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Statistic area End-->

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!-- === Import JS === -->

<!-- Charts JS
    ============================================ -->
<script src="/js/charts/Chart.js"></script>
<script src="/js/charts/line-chart.js"></script>

<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

</body>
</html>

