<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--lang=""> -->

<head>
    <!--Title-->
    <title>Willkommen</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
</head>
<body>
<!--Navigation-->
<nav th:include="navigation_new :: navigation"></nav>

<!--Page Stuff-->
<div class="colr-area mg-b-100">
    <div class="container">
        <div class="row">
            <!--TODO LOGO div in mobile version center-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div align="center">
                    <img src="/img/logo/logo.png"/>
                    <br> <br>
                </div>

            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list" align="center">
                    <div class="alert alert-success" role="alert">
                        <h1>&#x1F49A;-lich Willkommen</h1>
                    </div>
                    <h1 style="color: #003300">beim Bio-Laden Blattgrün</h1>
                    <br>
                    <p>Entdecken Sie unsere zahlreichen Produkte</p>
                    <p>und besuchen Sie uns persönlich im Store.</p>
                </div>
            </div>
        </div>
    </div>


</div>


<!--Footer-->
<div th:include="footer :: footer"></div>

<!--Import JS-->
<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

</body>
</html>