<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<html lang=""> -->

<head>
    <!--Title-->
    <title>Merkzettel</title>

    <!--Import CSS-->
    <!--/*/ <th:block th:include="_includes :: css_includes"></th:block> /*/-->
</head>
<body>
<!--Navigation-->
<nav th:include="navigation_new :: navigation"></nav>

<div class="container">
    <div class="btn-demo-notika mg-t-30">

        <header>
            <h1 align="center">Merkzettel</h1>
            <br>
        </header>


        <div th:if="${shoppingCart.isEmpty()}"> <!-- Handling for empty cart -->
            <div class="header" align="center">
                Ihr Merkzettel ist leer
            </div>
        </div>

        <div th:unless="${shoppingCart.isEmpty()}"> <!-- Handling for non empty cart -->
            <div class="data-table-area">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                            <thead> <!-- table head -->

                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">ID</th>
                                <th scope="col">Kategorie</th>
                                <th scope="col">Einzelpreis</th>
                                <th scope="col">Menge</th>
                                <th scope="col">Preis</th>
                                <th scope="col">Pfand</th>
                                <th scope="col">Bearbeiten</th>
                            </tr>

                            </thead>

                            <tbody> <!-- table body -->

                            <tr th:each="item : ${shoppingCart} ">
                                <td scope="row" th:text="${item.getInventoryProduct().getName()}">ProductName</td>
                                <td th:text="${item.getInventoryProduct().getId()}">1</td>
                                <td th:text="${item.getInventoryProduct().getProductCategory().getDescriptionDe()}">1</td>
                                <td th:text="${item.getInventoryProduct().getPrice()}"></td>
                                <td th:text="${item.getQuantity()}">1</td>
                                <td th:text="${item.getPrice()}">1</td>
                                <td th:text="${item.getInventoryProduct().getPfandPrice()}"></td>
                                <td style="padding: 9px;">
                                    <div class="btn-group">
                                        <form class="btn-group" style="padding-right: 3px;" method="post" th:action="@{/deleteFromWishlist}">
                                            <input type="hidden" name="productId" th:value="${item.getId()}">
                                            <button class="btn btn-danger danger-icon-notika btn-reco-mg btn-button-mg waves-effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="Löschen">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>

                                        <form class="btn-group" style="padding-right: 3px;" method="post" th:action="@{/removeOneFromWishlist}">
                                            <input type="hidden" name="productId" th:value="${item.getId()}">
                                            <button class="btn btn-danger danger-icon-notika btn-reco-mg btn-button-mg waves-effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="-1">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </form>

                                        <form class="btn-group" style="padding-right: 3px;" method="post" th:action="@{/addOneToWishlist}">
                                            <input type="hidden" name="productId" th:value="${item.getId()}">
                                            <button class="btn btn-success success-icon-notika btn-reco-mg btn-button-mg waves-effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="+1">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                                <tfoot>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Kategorie</th>
                                    <th scope="col">Einzelpreis</th>
                                    <th scope="col">Menge</th>
                                    <th scope="col">Preis</th>
                                    <th scope="col">Pfand</th>
                                    <th scope="col">Bearbeiten</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row"> <!-- Sum of CartItems -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div align="center">
                        <h2>Summe: <span th:text="${shoppingCart.getBasicPrice()}">0</span></h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div align="center">
                        <h2>Anzahl Artikel: <span th:text="${shoppingCart.getAmountOfItems()}">0</span></h2>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div th:include="footer :: footer"></div>
<!-- Footer area END -->

<!-- === Import JS === -->

<!-- Data Table JS
    ============================================ -->
<script src="js/data-table/jquery.dataTables.min.js"></script>
<script src="js/data-table/data-table-act.js"></script>

<!--/*/ <th:block th:include="_includes :: js_includes"></th:block> /*/-->

</body>
</html>
